.main-block {
    background-color: #FFFFFF;
    width: 984px;
    padding: 113px;
    position: absolute;
    top: 150px;
    left: 100px;
}

.main-block-inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.week {
    position: absolute;
    top: 276px;
    left: 186px;
}
.month {
    position: absolute;
    top: 229px;
    left: 239px;
}
