.cell {
    width: 15px;
    height: 15px;
    margin: 2px;
    display: inline-block;
    padding: 0;
}
.cell:hover {

    outline: 1px solid #00000080;
}

.cell:active {
    outline: 1px solid #000000E5;
}